

body {
    background : transparent
}

.sprite {
    width : 150px;
    height : 170px;
    overflow: hidden;
}

.spritesheet{
    background-repeat: no-repeat;
    animation: moveSpritesheet 4s infinite 
}

@keyframes moveSpritesheet {
    0% {
        background-image: url('Spritsheet/perso1.PNG');
    }
    25% {
        background-image: url('Spritsheet/perso2.PNG');
    }
    50% {
        background-image: url('Spritsheet/perso3.PNG');
    }
    75% {
        background-image: url('Spritsheet/perso4.PNG');
    }
    100% {
        background-image: url('Spritsheet/perso1.PNG');  
    }
}
